.window {
	border-style: groove;
	border-color:green;
	overflow-y: scroll;
	width: 200px;
	height: 250px;
	background-color: rgba(82, 166, 67, 0.5);
	border-radius: 10px;
	font-family: sans-serif;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.inputText {
	width: 215px;
	border-radius: 1px;
	text-align: left;
	outline: none;
}

.pending {
	border-style: groove;
	border-color:green;
	overflow-y: scroll;
	background-color: rgba(82, 166, 67, 0.5);
	border-radius: 10px;
	width: 200px;
	font-family: sans-serif;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	display: flex;
	gap: 10px;
	flex-direction: column;
}