.window {
	border-style: groove;
	border-color:green;
	overflow-y: scroll;
	width: 200px;
	height: 250px;
	background-color:rgb(124, 187, 18);
	border-radius: 10px;
	font-family: sans-serif;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.inputText {
	width: 215px;
	border-radius: 1px;
	text-align: left;
	outline: none;
}
	