.navbutton-text {
	text-decoration: none;
	font-size: 80px;
	color: rgb(124, 187, 18);
	border-style: solid;
	border-radius: 30px;
	border-width: 5px;
	border-color: green;
	border-spacing: 100px;
	background-color: rgb(114, 114, 114);
}