/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   style.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: jaubarea <jaubarea@student.42lausanne.c    +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2023/10/15 17:53:47 by jaubarea          #+#    #+#             */
/*   Updated: 2023/10/15 19:06:13 by jaubarea         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.navigation {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	list-style-type: none;
	align-items: center;
}
