.navbutton-text {
	text-decoration: none;
	font-size: 60px;
	font-family: sans-serif;
	color: rgb(124, 187, 18);
	border-style: solid;
	border-radius: 30px;
	border-width: 5px;
	border-color: green;
	border-spacing: 100px;
	background-color: rgb(114, 114, 114);
	transition: border-color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	padding: 10px;
}

.navbutton-text:hover {
	border-color: rgb(124, 187, 18);
	color : green;
}
