.navbutton-text {
	text-decoration: none;
	font-size: 30px;
	font-family: 'Orbitron', sans-serif;
	color: #0a0a0a;
	border: 2px solid #ffffff;
	border-radius: 25px;
	background-color: #4CAF50;
	padding: 15px 30px;
	transition: all 0.3s ease-in-out;
    box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.3);
}
  
.navbutton-text:hover {
	background-color: #45a049;
	border-color: #060606;
	transform: scale(1.1);
}
  
.navbutton-text:focus {
	outline: none;
}
  
.navbutton-text:active {
	transform: scale(0.95);
}
